/*Estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

input {
  border: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  border: none;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  /*Color palette*/
  --black: #0d0d0d;
  --darkblue: #0f1426;
  --violet: #5560e1;
  --darkViolet: hsl(235, 70%, 30%);
  --blue: #324373;
  --lightBlue: #2d55a6;
  --skyBlue: #1374f2;
  --skyBlueDark: hsl(214, 90%, 31%);
  --white: #f2f2f2;
  --gray: #d9d9d9;
  --grayDark: hsl(216, 13%, 40%);
  --red: #ff264a;
  --redDark: hsl(0, 79%, 34%);
  --green: hsl(120, 78%, 40%);
  --greenDark: hsl(120, 78%, 20%);
  --verdeEsmeralda: #13d8f2;

  /*Font sizes*/
  --titulo1: 3.6rem;
  --titulo2: 2.8rem;
  --titulo3: 2rem;
  --titulo4: 1.6rem;
  --normal: 1.6rem;
  --small: 1.4rem;
  --smaller: 1.2rem;
}

/******************************/

/* Estilos para la animacion de carga */

.loading__container {
  right: 0;
  bottom: 0;
  width: 23rem;
  height: 23rem;
  border-radius: 1rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loading__text {
  color: var(--white);
  font-size: var(--titulo3);
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1.6rem;
}

.loading__spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******************************/

body {
  line-height: 1.5;
  color: #333;
  background-color: var(--white);
}

.informe {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #e6f2ff;
}

.informe__header {
  text-align: center;
  margin-bottom: 3.2rem;
}

.informe__title {
  color: #0066cc;
  font-size: var(--titulo2);
}

.informe__date-picker {
  display: flex;
  align-items: center;
}

.informe__calendar-icon {
  color: #0066cc;
  margin-right: 1rem;
}

.informe__date-input {
  border: 1px solid #99ccff;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

.informe__nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.informe__button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #99ccff;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.informe__button:hover,
.informe__button--active {
  background-color: rgb(27, 26, 26);
  color: #ffffff;
}

.informe__icon {
  width: 1.6rem;
  height: 1.6rem;
}

.informe__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.informe__card {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.informe__card-title {
  margin-bottom: 1.6rem;
  color: #0066cc;
  font-size: var(--titulo3);
  letter-spacing: 0.05rem;
}

.informe__big-number {
  color: #0066cc;
  font-weight: 700;
  font-size: var(--titulo2);
  letter-spacing: 0.1rem;
}

.informe__item {
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid var(--gray);

  padding-left: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.informe__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  gap: 2rem;
}

.table__container {
  overflow: auto;
}

.informe__post {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.informe__post-image {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 4px;
}

.informe__post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.informe__post-title {
  padding-bottom: 3.2rem;
  font-size: var(--smaller);
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

.informe__post-stats {
  display: flex;
  gap: 1.6rem;
  color: #0066cc;
  font-size: 1.6rem;
}

.informe__post-details {
  font-size: var(--normal);
  margin-right: 1.6rem;
}

.informe__post-details svg {
  width: 1.6rem;
  height: 1.6rem;
}

.informe__table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.informe__table th,
.informe__table td {
  padding: 10px;
  text-align: left;
}

.informe__table th {
  background-color: #8bbaff69;
  color: #0066cc;
}

/*Estilos para los botones*/
.button {
  padding: 1.6rem;
  border-radius: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  font-size: var(--small);
  letter-spacing: 0.1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button--update {
  background-color: var(--lightBlue);
  color: var(--white);
  position: fixed;
  bottom: 3.2rem;
  right: 3.2rem;
}

.button--back {
  margin-bottom: 1.6rem;
  display: inline-block;
  font-size: var(--smaller);
  background-color: var(--blue);
  color: var(--white);
}

/* Estilos para el buscador */
.search__container-posts {
  width: 90%;
  margin-left: auto;
  margin-bottom: 4.2rem;
}

.search__posts-input {
  box-shadow: 0px 0px 2px 1px #3c62c1, inset 1px -2px 3px 1px #787878;
  padding: 1.6rem;
  width: inherit;
  border-radius: 3rem;
  background-color: rgba(242, 242, 242, 0.788);
  font-weight: 500;
  font-size: var(--small);
  letter-spacing: 0.1rem;
  color: var(--black);
}

/* Media Queries */
@media (max-width: 768px) {
  .informe__grid {
    grid-template-columns: 1fr;
  }

  .informe__nav {
    flex-direction: column;
  }
}

/* Clase auxiliar para ocultar elementos */
.hidden {
  display: none;
}
